<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        
        <title>Express Tutorial</title>
    </head>
    <body>
        {{>bsnavbar}}
        
        <div class="container">
            {{{body}}}
        </div>
        
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    </body>
    
</html>>